h1{
    padding: 20px;
    margin: 0;
    font-size: 40px;
}
.contenu{
    font-size: 20px;
    text-align: center;
    padding: 20px 4vw;
    color: #333;
    background: #f1f1f1;
    height: 100vh;
    /* transition: all 0.2s ease-in-out; */
}
.contenu.dark{
    text-align: center;
    font-size: 20px;
    color: #f1f1f1;
    background: #333;
    height: 100vh;
}
.contenu.light{
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #f1f1f1;
    height: 100vh;
}






